@import '../../../styles/colours';

.dropDownContainer {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: $primaryBackground;
        
    margin: 0;
    min-width: 200px;

    ul {
        
        padding: 0;
    }

    li {
        padding: 10px;
        list-style: none;
        text-align: left;
        cursor: pointer;
        color: $primaryForeground;
        width: calc(100% - 20px);

        &:hover {
            font-weight: bold;
        }

        a {
            color: $primaryForeground;
            width: 100%;
            display: inline-block;
        }
    }
}