$orange: #F15A29;
$blue: #128BC7;
$yellow: #F0B40F;
$green: #8BB348;
$grey: #B4B4B4;
$red: #ff3838;
$lightRed: #ff4d4d;
$brownRed: #b33939;
$blue2: #386fad;
$blue3: #81abda;


$white: #F6F6F6;
$black: #040404;
$pink: #F6B5CF;
$darkGrey: #6F8695;
$lightGrey: #d2dadf;
$transparentBlack: #00000050;

$primaryBackground: $blue2;
$primaryForeground: $black;
$callToAction: $blue;
$secondaryCTA: $blue3;

