$orange: #F15A29;
$blue: #128BC7;
$yellow: #F0B40F;
$green: #8BB348;
$grey: #B4B4B4;


$white: #F6F6F6;
$black: #040404;
$pink: #F6B5CF;
$darkGrey: #6F8695;
$lightGrey: #ADBAC2;
$transparentBlack: #00000050;

$primaryBackground: $black;
$primaryForeground: $white;
$callToAction: $blue;
$secondaryCTA: $orange;

