@import '../../../styles/colours';

.header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns:  60px 60px auto auto 60px 60px 60px 60px;
    background-color: $primaryBackground;
    

    a {
        text-decoration: none;
    }
}



.searchBar {
    width: calc(100% - 8px);
    margin: 15px 0;
    font-size: 130%;
}

.brandimg {
    height: 80px;
    padding-top:10px
}

.brandname {
    margin: 10px;
    text-align: left;
    color: $primaryForeground;
}


