@import '../../../styles/colours';

.tile {
    border: 1px solid black;
    margin: 12px;
    padding: 12px;
    width: 500px;
    // color: $primaryBackground;
    color: black;
    display: inline-block;
    background-color: $lightGrey;
}

img {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}

.tile-column{
    border: 1px solid $primaryBackground;
    margin: 12px;
    padding: 12px;
    width: 52%;
    color: $primaryBackground;
    display: inline-block;
}

.tileGrid {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

.tileGridColumn {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: auto auto auto auto;
    width: 50%;
    margin: 0 auto;
}

.imageContainer {
    font-size: 100px;
    grid-row: 1 / 3;
}

@mixin buttonStyle {
    grid-column: 2;
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;   
}

.cta {
    @include buttonStyle;
    background-color: $blue3;
    color: $white;
}
.cta:disabled{
    background-color: gray;
}

.cta:hover {
    cursor: pointer;
}

.secondaryButton {
    @include buttonStyle;
    background-color: $secondaryCTA;
    color: $white;
    width: 15%;
    margin: 0 auto;
}

.striped { 
    border: 1px dashed #000; 
    width: 90%; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%; }
